<section>
  <div class="mx-auto max-w-7xl mx-12">
    <div class="flex flex-col justify-between items-center">
      <video loop muted autoplay class="border">
        <source
          src="https://res.cloudinary.com/cloudinaryforme/video/upload/v1727703025/75c248b47b_lkajha.mp4"
          type="video/mp4"
        />
      </video>
      <div>
        <a
          href="#tally-open=nrdDPp&tally-layout=modal&tally-emoji-animation=none"
          class="w-full bg-orange duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 m-2 sm:rounded-full text-black hover:text-white text-center text-xs uppercase"
          >join the waitlist</a
        >
      </div>
    </div>
  </div>
</section>
