<section class="border-white/60 border-t">
  <div class="mx-auto max-w-7xl mt-12">
    <div class="p-8">
      <video loop muted autoplay>
        <source
          src="https://res.cloudinary.com/cloudinaryforme/video/upload/v1727703025/75c248b47b_lkajha.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>
