<section class="h-screen flex items-center">
  <div class="mx-auto max-w-7xl flex flex-col justify-around items-center">
    <video loop muted autoplay class="sm:w-7/8">
      <source
        src="https://res.cloudinary.com/cloudinaryforme/video/upload/v1727703025/75c248b47b_lkajha.mp4"
        type="video/mp4"
      />
    </video>
    <div>
      <a
        href="#tally-open=nrdDPp&tally-layout=modal&tally-emoji-animation=none"
        class="w-full bg-orange duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 m-2 sm:rounded-full text-black hover:text-white text-center text-xs uppercase"
        >join the waitlist</a
      >
    </div>
  </div>
</section>
